
<header class="main-header">
  <nav class="nav">
    <ul>
      <li><a class="button" routerLink="/">Home</a></li>
      <li><a class="button" routerLink="/aboutus">About Us</a></li>

      <li *ngIf=" userIsAuthenticated"><a class="button" routerLink="/courses">View Courses</a></li>
      <li *ngIf=" userIsAuthenticated"><a class="button" routerLink="/addcourse">Add Course</a></li>
      <li *ngIf=" userIsAuthenticated"><a class="button" routerLink="/templated">Template Driven</a></li>
      <li *ngIf=" userIsAuthenticated"><a class="button" routerLink="/datad">Data Driven</a></li>
      <li *ngIf=" !userIsAuthenticated"><a class="button" routerLink="/login">Login</a></li>
      
  
    </ul>
 
  </nav>
</header>

<div class="outlet">
  <router-outlet ></router-outlet>
</div>

